.App{
  display: flex;
  flex-direction: column;
  height:100vh;
  width: 100vw;
}
.row{
  border: 2px solid;
  align-items: center;
}

.fab{
  color:#B92B27;
  font-size: 2em;
}
.App{
  background-color: #e6e7e8;
}


